{% extends "base.html" %}
{% load static %}

{% block content %}
{% block header %}
<h1>Target Selection</h1>

<span class="lead">Select a target from the list of all features below</span> 

<div class="info-tooltip">
    <img class="info-icon" src={% static 'images/info.png' %} alt="info icon"/>
    
    <p class="tooltiptext">
        The target is the variable you want to predict using your dataset. Make sure to use only one column containing numerical values
    </p>
</div>
{% endblock header %}

<div class="container">
    {% load crispy_forms_tags %}
    <!-- line below takes all data from FormHelper if FormHelper is named -->
    {% crispy form %}
</div>
{% endblock content %}