{% extends "base.html" %}
{% load static %}


{% block header %}
<h1>Feature Selection</h1>
<span class="lead">Choose the features you want to use to predict your target</span> 

<div class="info-tooltip">
    <img class="info-icon" src={% static 'images/info.png' %}/>

    <p class="tooltiptext">
        The features are the independent variables used to predict your target variable.
        Please select only numerical features or categorical features if they are strings.
        Categorical variables will be one hot encoded: each unique option has a dedicated binary column representin true or false.
    </p>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% load crispy_forms_tags %}
    <!-- line below takes all data from FormHelper if FormHelper is named -->
    {% crispy form %}
    <input type="checkbox" onClick="toggle(this)" /> Toggle all features 
</div>
{% endblock %}

{% block javascript %}
<script>
    function toggle(source) {
      checkboxes = document.getElementsByName('features');
      for (var i = 0, n = checkboxes.length; i < n; i++) {
        checkboxes[i].checked = source.checked;
      }
    }
</script>
{% endblock javascript %}