{% extends "base.html" %}
{% load static %}

{% block title %}
Choose features
{% endblock %}

{% block header %}
<h1>Feature Selection</h1>
<span class="lead">Choose the features you want to use to predict your target</span> 

<div class="info-tooltip">
    <img class="info-icon" src={% static 'images/info.png' %}/>

    <p class="tooltiptext">
        The features are the independent variables that you will use to predict your target variable.
        Since this is a linear regression model, make sure to select only numerical variables
    </p>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% load crispy_forms_tags %}
    <!-- line below takes all data from FormHelper if FormHelper is named -->
    {% crispy form %}
    <br>
    <input type="checkbox" onClick="toggle(this)"/> Toggle All
    
</div>
{% endblock %}