{% extends "base.html" %}
{% load static %}

{% block header %}
<h1>More Specifications</h1>
<span class="lead">Choose values for the randomization and validation steps</span> 

<div class="info-tooltip">
    <img class="info-icon" src={% static 'images/info.png' %}/>

    <p class="tooltiptext">
        Using the same number for randomstate allows you to replicate the same randomization and hence the same results.
        Nfolds determines how many segments to split the dataset into, creating a model where each segment is the test dataset
    </p>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% load crispy_forms_tags %}
    <!-- line below takes all data from FormHelper if FormHelper is named -->
    {% crispy form %}
</div>
{% endblock %}