{% extends "base.html" %}
{% load static %}

{% block header %}
<h1>Target Selection</h1>


<div class="tooltip"> hello
    <img src={% static 'images/info.png' %} alt="" />
    <!-- <span class="tooltiptext">Targets testtesttestse</span> -->
</div>


<p class="lead">Choose the target you want for your regressor</p> 
<!-- TODO: insert info icon here -->
{% endblock header %}

{% block content %}
<div class="container">
    {% load crispy_forms_tags %}
    <!-- line below takes all data from FormHelper if FormHelper is named -->
    {% crispy form %}
</div>
{% endblock content %}