{% extends "base.html" %}
{% load static %}

{% block header %}
<h1>Records: {{ object_list.first.user|title }}</h1>

<p class="lead">Below is the list of past ML models and their related information</p>
{% endblock header %}

{% block content %}

{% if object_list%}
{%for record in object_list%}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
            {{ record.title|title }}:  {{record.dateTime }}
        </button>
    </h2>
    </div>
    <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{forloop.counter}}"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table">
                <tr>
                    <td>Features</td>
                    <td>{{record.features | join:", " }} </td>
                </tr>
                <tr>
                    <td>Target</td>
                    <td>{{record.target}} </td>
                </tr>    
                <tr>
                    <td>Random State</td>
                    <td>{{record.randomState}} </td>
                </tr>
                    <td>Training Error</td>
                    <td>{{record.trainError}} </td>
                </tr>
                </tr>
                    <td>Test Error</td>
                    <td>{{record.testError}} </td>
                </tr>
        </table>
        </div>
    </div>
    {% endfor %}
</div>
{%else%}
<div>
    <h2> Sorry, no records to show.
         Looks like you have not run a regressor on CaraML before. </h2>
</div>
{%endif%}
{% endblock content %}