{% extends "base.html" %}
{% load static %}

{% block header %}
<h1>Records: {{ object_list.first.user|title }}</h1>

<p class="lead">Below is the list of past ML models and their related information</p>
{% endblock header %}

{% block content %}

{% if object_list%}
{%for record in object_list%}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
            {{ record.title|title }}:  {{record.dateTime }}
        </button>
    </h2>
    </div>
    <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading{{forloop.counter}}"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <table class="table">
                <tr>
                    <td>Random State</td>
                    <td>{{record.randomState}} </td>
                </tr>
                    
                    <td>Number of Folds</td>
                    <td>{{record.numFolds}} </td>
                </tr>
                <tr>
                    <td>Features</td>
                    <td>{{record.features|join:", " }} </td>
                </tr>
                <tr>
                    <td>Target</td>
                    <td>{{record.target}} </td>
                </tr>    
                <tr>
                    <td>Accuracy</td>
                    <td>{{record.result}}% </td>
                </tr>
        </table>
        </div>
    </div>
    {% endfor %}
</div>


    <!-- <table class="table" id="drug-list-table">
        <tr>
            <th>Title</th>
            <th>Date and Time</th>
            <th>Random State</th>
            <th>Number of folds</th>
            <th>Features</th>
            <th>Target </th>
            <th>Result</th>
            <th></th>
        </tr>
    {%for record in object_list%}
<tr>
    <td>{{record.title}}</td>
    <td></td>
    <td>}</td>
    <td></td>
    <td></td>
    <td>{{record.target}}</td>
    <td>{{record.result}}%</td>
</tr>
    {% endfor %}
</table> -->
{%else%}
<div>
    <h2> Sorry, no records to show.
         Looks like you have not run a regressor on CaraML before. </h2>
</div>
{%endif%}
{% endblock content %}