{% extends "base.html" %}
{% load static %}

{% block header %}
<h1>Upload Dataset</h1>
<span class="lead">Upload the unlabeled dataset you want predictions for</span>

<div class="info-tooltip">
    <img class="info-icon" src={% static 'images/info.png' %} />

    <span class="tooltiptext">
        Upload an unlabeled file and get new CSV file with predictions!
    </span>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% load crispy_forms_tags %}
    <!-- line below takes all data from FormHelper if FormHelper is named -->
    {% crispy form %}
    <a href="{% url 'home' %}">Return to home</a>
</div>
{% endblock content %}