/* Source: https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
/* Tooltip text */
.tooltips .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltips text */
    position: absolute;
    z-index: 1;
    /* top: -5px;
    left: 105%; */
}
  
/* Show the tooltips text when you mouse over the tooltips container */
.tooltips:hover .tooltiptext {
    visibility: visible;
}

.tooltips .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltips */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
