/* Source: https://www.w3schools.com/css/css_tooltip.asp */

/* Tooltip container */
.info-tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.info-tooltip .tooltiptext {
    visibility: hidden;
    background-color: silver;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the info-tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 60%;
    width: 400%;
}
  
/* Show the info-tooltip text when you mouse over the info-tooltip container */
.info-tooltip:hover .tooltiptext {
    visibility: visible;
}

.info-icon {
    width: 50%;
    height: auto;
}